<div id="section-cta">
  <div class="section-header text-center">
    <h3> {{ section.settings.text-box }} </h3>
  </div>
  {% for block in section.blocks %}
    <div class="btn btn--cta center">
      <a href="{{ section.settings.link }}"> {{ section.settings.linktext }} </a>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "CTA blocks",
  "max_blocks": 3,
  "settings": [
  {
    "id": "text-box",
    "type": "text",
    "label": "Heading",
    "default": "Title"
  }
  ],

  "blocks": [
  {
    "type": "select",
    "name": "select",
    "settings": [
    {
      "id": "link",
      "type": "url",
      "label": "Button-link"
    },
    {
      "id": "link-text",
      "type": "text",
      "label": "Button Text",
      "default": "<p>Click here</p>"
    }
    ]
  }
  ],

  "presets": [
  {
    "name": "Call to Action Blocks",
    "category": "Call To Action",
    "blocks": [
    {
      "type": "select"
    },
    {
      "type": "select"
    }
    ]
  }
  ]
}
{% endschema %}