<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', shopify_api_product_path(@product), class: "btn btn-default btn-xs" %> |
<%= link_to 'Back', root_path, class: "btn btn-default btn-xs" %>
